/*** Grid ***/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.col-1:first-child, .col-2:first-child, .col-3:first-child, .col-4:first-child, .col-5:first-child, .col-6:first-child, .col-7:first-child, .col-8:first-child, .col-9:first-child, .col-10:first-child, .col-11:first-child, .col-12:first-child {
    margin-left: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.53%;
    margin-left: 1.6%;
}

.col-10 {
    width: 83.06%;
    margin-left: 1.6%;
}

.col-9 {
    width: 74.6%;
    margin-left: 1.6%;
}

.col-8 {
    width: 66.13%;
    margin-left: 1.6%;
}

.col-7 {
    width: 57.66%;
    margin-left: 1.6%;
}

.col-6 {
    width: 49.2%;
    margin-left: 1.6%;
}

.col-5 {
    width: 40.73%;
    margin-left: 1.6%;
}

.col-4 {
    width: 32.26%;
    margin-left: 1.6%;
}

.col-3 {
    width: 23.8%;
    margin-left: 1.6%;
}

.col-2 {
    width: 15.33%;
    margin-left: 1.6%;
}

.col-1 {
    width: 6.866%;
    margin-left: 1.6%;
}

/*** End grid ***/
/*** header ***/
.background-head {
    background-color: #d9d9d9;
    margin: 50px 0 0 0;
    padding: 20px 0 75px 0;
    height: auto;
    float: right;
    z-index: -1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    line-height: 1em; 
    margin: 20px 0 0 -70px;
    padding-bottom: 30px;
}

header div p#intro {
    margin: 40px 0 0 15.33%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.6em;
}

header div.background-head ul{
    margin: 25px 0 0 15.33%;
    display: none;
    
}

header div.background-head ul li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height:2.25;
    background-color: gray;
    padding-left: 2px;
}

.border {
    height: 10px;
    background-color: #999;
    float: right;
}

.left-nav {
    width: 30px;
    height: 610px;
    margin: 50px 0 0 6.866%;
    float: left;
    background-color: #bfbfbf;
    z-index: -1;
    position: fixed;
}

.left-nav-list {
    margin: 415px 0 0 6%;
    float: left;
    position:fixed;
}

.left-nav-list li {
    width: 150px;
    list-style-type: none;
    display: block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2.25;
    background-color: grey;
    color: rgba(0,0,0,10);
    padding-left: 5px;
    margin-bottom: 10px;
    -webkit-transition: width 1s;
    transition: width 1s;
}


/*
.left-nav-list li:hover {
    /width: 150px;
}
*/


/*** End header ***/

p a {
    text-decoration: none;
    color: black;
    background-color: #d9d9d9;
}

p a:hover {
    background-color: blue;
    color: white;
}

ul li a {
    color: black;
}



h3 {
    font-family:'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: .8em;
}

img {
    width: 100%;
}

.about-me .title-bar {
    height: 75px;
    background-color: #d9d9d9;
    margin-top: 150px;
    float: left;
}

.about-me .title-bar h3 {
    margin-left: 20%;
}

.headshot {
    height: 450px;
    background-color: black;
    float:right;
    padding: 5px 0 5px 5px;
    width: 45%;
}

.about-me p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 35px;
    width: 50%;
    margin: 0 0 20px 16.98%;
}


.work .title-bar {
    height: 75px;
    background-color: #d9d9d9;
    margin-top: 150px;
    float: left;
}

.work .title-bar h3 {
    margin-left: 20%;
}


.work ul {
    clear: both;
    margin: 0 0 0 40.73%;
}

.work ul li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height:2.25;
    background-color: gray;
    padding-left: 2px;
    margin-top: -25px;
    position: relative;
}

.case-study h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    margin: 50px 0 0 13%;
}

.case-study p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 35px;
    width: 50%;
    margin: 0 0 20px 16.98%;
}

.case-study p.section {
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: solid black 4px;
}

.case-study p.quote {
    margin-left: 20%;
    font-style: italic;
}

.stat {
    width: 24%;
    float: left;
    margin-left: 1%;
    
}

.stat h4 {
    font-family: 'poppins', sans-serif;
    font-size: 4em;
    line-height: 0;
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}

.stat p {
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
}

.persona {
    width: 50%;
    margin: 0 0 0 16.98%;
}

.persona_thumb-1 {
    width: 25%;
    float: left;
    margin: 10px 0 40px 16.98%;
}

.persona_thumb-2 {
    width: 25%;
    float: left;
    margin: 10px 0 40px 0;
}

/*** Tique colors ***/

.color-wrap {
    width: 100px;
    margin: 0 3.33% 40px 0;
    float: left;
}

.color {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.sub-color {
    width: 30px;
    height: 30px;
    margin: 0 0 10px 2.3px;
    float: left;
    border-radius: 10%;
}

.color p {
    font-family: 'Roboto', sans-serif;
    font-weight: 00;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 30px 0 0 0;
    margin-left: 15%;
}
/*** images ***/

img {
    width: 100%;
}

.img-wrap {
    width: 50%;
    margin: 0 0 0 16.98%;
    overflow: hidden;
}

.img-wrap2 {
    width: 50%;
    margin: 0 0 0 16.98%;
    overflow: hidden;
}

.img-wrap-center {
    width: 80%;
    margin: 0 10% 0 10%;
}

.right {
    float: right;
    padding: 10px 0 10px 10px;
}

.left {
    float: left;
}

.full {
    width: 100%;
}

.half {
    width: 60%;
}

.third {
    width: 32.33%;
    margin: 40px 0 40px .75%;
}
.quarter {
    width: 45%;
    margin: 40px 5% 0 0;
}

.center {
    width: 50%;
    margin: 0 0 0 16.98%;
}

.center-left {
    float: left;
    width: 45%;
    margin: 0 5% 40px 0;
}

/**** Tablet media query ***/

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 5em;
        margin: 20px 0 0 -60px;
    }
    
    .left-nav {
        margin: 50px 0 0 4%;
    }
    
    .left-nav-list {
        margin-left: 2.8%;
    }
    
    header div p#intro {
        width: 70%;
        margin: 20px 4% 0 20%;
        font-size: 1.25em;
    }
    
    header div.background-head ul{
        margin: 30px .5% 0 11%;
    
    }

    header div.background-head ul li {
        font-size: 1.25em;
        margin-bottom: 10px;
    }
    
    .case-study h2 {
        font-size: 4em;
        margin-left: 15%;
    }
    
    .case-study p, {
        width: 70%;
    }
    
    .about-me p {
        width: 70%;
    }
    
    .stat-wrap {
        overflow: hidden;
        margin-bottom: -220px
    }
    
    .stat {
        width: 24%;
    }

    .stat h4 {
        font-size: 4em;
        width: 100%;
        text-align: center;
        margin: 40px 0 0 0;
    }

    .stat p {
        width: 100%;
    }
    
    .persona {
        width: 50%;
        margin: 0 0 0 25%;
    }

    .persona_thumb-1 {;
        margin: 10px 0 40px 25%;
    }
    
    .persona_thumb-2 {
        margin-right: 25%;
    }
    
    .color-wrap {
        margin: 0 10% 10px 13%;
    }
}

@media only screen and (max-width: 852px) {
    .stat {
        width: 40%;
        margin: 0 5% 5% 5%;
    }
    
    .color-wrap {
        margin: 0 5% 10px 10%;
    }
}

/**** Phone media query ***/
@media only screen and (max-width: 667px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
        margin: 0;
    }
    
    h1 {
        font-size: 3.25em;
        margin: 20px 0 0 11%;
    }
    
    .left-nav {
        margin: 0;
    }
    
    .left-nav-list {
        margin-left: 30px;
        padding: 0;
    }
    
    .background-head {
        z-index: -2;
        position: relative;
    } 
    
    header div p#intro {
        width: 85%;
        margin: 20px 4% 0 11%;
        font-size: 1.25em;
    }
    
    header div.background-head ul{
    margin: 30px .5% 0 11%;
    
    }

    header div.background-head ul li {
        font-size: 1.25em;
        margin-bottom: 10px;
    }
    
    .case-study p {
        width: 85%;
        margin-left: 15%;
    }
    
    .work .title-bar h3 {
        margin-left: 15%;
    }
    
    .work ul {
        clear: both;
        margin: 0 0 0 0;
    }

    .work ul li {
        display: inline-block;
        width: 25%;
        margin-right: 5px;
        position: relative;
        float: right;
    }
    
    .stat {
        width: 90%;
        margin: 0 5% 0 5%;
    }
    
    .stat h4{
        font-size: 3em;
    }
    
    .stat p {
        width: 70%;
        margin: 40px 15% 40px 15%;
    }
    
    .case-study p.quote {
        width: 75%;
        margin-left: 15%;
        font-style: italic;
    }
    
    /*** images ***/
    
    .half {
        width: 90%;
        margin-bottom: 20px;
    }
    
    .persona {
        width: 80%;
        margin-left: 15%
    }
    
    .persona_thumb-1 {
        width: 40%;
        margin-left: 15%;
    }
    
    .persona_thumb-2 {
        width: 40%;
        margin-right: 0;
    }
    
    .img-wrap {
        width: 80%;
    }
    
    .img-wrap2 {
        width: 80%;
    }
    
    .center-left {
        width: 85%;
        margin-left: 5%;
    }
    
    .quarter {
        width: 40%;
        margin: 40px 5% 0 0;
    }

    .third {
        width: 85%;
        margin: 0 10% 20px 15%;
    }
    
    .center {
        width: 80%;
    }
    
    .color-wrap {
        margin: 0 1% 10px 8.5%;
    }

}