/*** Grid ***/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.col-1:first-child, .col-2:first-child, .col-3:first-child, .col-4:first-child, .col-5:first-child, .col-6:first-child, .col-7:first-child, .col-8:first-child, .col-9:first-child, .col-10:first-child, .col-11:first-child, .col-12:first-child {
    margin-left: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.53%;
    margin-left: 1.6%;
}

.col-10 {
    width: 83.06%;
    margin-left: 1.6%;
}

.col-9 {
    width: 74.6%;
    margin-left: 1.6%;
}

.col-8 {
    width: 66.13%;
    margin-left: 1.6%;
}

.col-7 {
    width: 57.66%;
    margin-left: 1.6%;
}

.col-6 {
    width: 49.2%;
    margin-left: 1.6%;
}

.col-5 {
    width: 40.73%;
    margin-left: 1.6%;
}

.col-4 {
    width: 32.26%;
    margin-left: 1.6%;
}

.col-3 {
    width: 23.8%;
    margin-left: 1.6%;
}

.col-2 {
    width: 15.33%;
    margin-left: 1.6%;
}

.col-1 {
    width: 6.866%;
    margin-left: 1.6%;
}

/*** End grid ***/
/*** header ***/
.background-head {
    background-color: #d9d9d9;
    margin: 50px 0 0 0;
    height: 600px;
    float: right;
    z-index: -1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    line-height: 1em; 
    margin: 50px 0 0 -70px;
}

header div p#intro {
    margin: 20px 0 0 15.33%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.6em;
}

header div.background-head ul{
    margin: 25px 0 0 15.33%;
    
}

header div.background-head ul li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height:2.25;
    background-color: gray;
    padding-left: 2px;
}

.border {
    height: 10px;
    background-color: #999;
    float: right;
}

.left-nav {
    width: 30px;
    height: 610px;
    margin: 50px 0 0 6.866%;
    float: left;
    background-color: #bfbfbf;
}

/*** End header ***/

h3 {
    font-family:'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: .8em;
}

img {
    width: 100%;
}

.about-me .title-bar {
    height: 75px;
    background-color: #d9d9d9;
    margin-top: 150px;
    float: left;
}

.about-me .title-bar h3 {
    float: right;
    margin-right: 174px;
}

.headshot {
    height: 450px;
    background-color: black;
    float:left;
    margin: -25px 0 0 11.9%;
}

.about-me p {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    line-height: 35px;
    margin: 0 0 25px 0;
    width: 100%;
}

.p-wrap {
    float: right;
    margin: -73px 6.866% 0 0;
}

.work .title-bar {
    height: 75px;
    background-color: #d9d9d9;
    margin-top: 150px;
    float: left;
}

.work .title-bar h3 {
    margin-left: 20%;
}


.work ul {
    clear: both;
    margin: 0 0 0 40.73%;
}

.work ul li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height:2.25;
    background-color: gray;
    padding-left: 2px;
    margin-top: -25px;
    position: relative;
}

.case-study h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    margin: 50px 0 0 8.2%;
}

.case-study p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 35px;
    width: 50%;
    margin: 0 0 20px 16.98%;
}

.case-study p.section {
    font-weight: 500;
    font-size: 1.5em
}

.case-study p.quote {
    margin-left: 20%;
    font-style: italic;
}

/*** images ***/

img {
    width: 100%;
}

.right {
    float: right;
    padding: 10px 0 10px 10px;
}

.left {
    float: left;
}

.full {
    width: 100%;
}

.half {
    width: 60%;
}