/***** VARIABLES *****/

/***** COLORS *****/
$white: #f9f9f9;
$black: #222222;
$sre: #2167bb;
$ams: #7eb946;
$anf: #253246;
$hstr: #437f1a;
$tique: #b8979f;
$noted: #f25e38;
$ccdp: #2378ba;
$ma: #80bb41;

$border-radius: 2px;
$box-shadow: 0px 5px 12px -4px rgba(34,34,34,0.47);
