/***** STYLESHEET FOR WORK MODALS *****/
@import "../base/variables";
@import "mixins";

.work-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    background:$black;
    background:rgba(32,32,32,0.8);
}

.modal-content {
    width: 90%;
    margin: 5% auto;
    background-color: $white;
    border-radius: $border-radius;
    
    .modal-head {
        width:100%;
        height: 200px;
        position: relative;
        padding: 1.2rem;
        
        h1 {
            position: absolute;
            color: $white;
        }
        
    }
    
    .modal-body {
        padding: 1.2rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        
        .work-description {
            max-width: 100%;
            padding-right: 1.2rem;
            margin-top: 50px;
            h3 {
                color: $black;
                padding-bottom: 5px;
                border-bottom: 3px solid $black;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 10px;
                font-size: .7rem;
                line-height: .9rem;
            }
            p.footnote {
                font-size: .6rem;
            }
            
        }
        
        img {
            width: 100%;
        }
    }
}

.close {
    color: $white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/***** BACKGROUND COLORS *****/
#sre-modal {
    .modal-head {
        background-color: $sre;
    }
}

#ams-modal {
    .modal-head {
        background-color: $ams;
    }
}

#anf-modal {
    .modal-head {
        background-color: $anf;
    }
}

#hstr-modal {
    .modal-head {
        background-color: $hstr;
    }
}

#ccdp-modal {
    .modal-head {
        background-color: $ccdp;
    }
}

#ma-modal {
    .modal-head {
        background-color: $ma;
    }
}


#sre-modal, #ams-modal, #hstr-modal, #ma-modal, #ccdp-modal {
    display:none;
        
        h1 {
            bottom: -11px;
            font-size: 3em;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
}

#hstr-modal, #anf-modal {
    display:none;
        
        h1 {
            bottom: -7px;
            font-size: 2em;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
}
/***** MEDIA QUERIES *****/

/***** MEDIUM *****/
@include media-size(medium) {
    .modal-content {
        
        .modal-body {
            justify-content: space-around;
            align-content: center;
            flex-direction: row;
            
            .work-description {
                max-width: 300px;
            }
            
            img {
                max-width: 50%;
                margin-top: -15%;
                z-index: 3;
            }
            
        }
    }
    
    //MA MODAL IMG ONLY 
    #ma-modal, #hstr-modal {
        img {
            margin-top: 0;
        }
    }
    
    //SRE MODAL, AMS MODAL, CCDP MODAL
    #sre-modal, #ams-modal, #ccdp-modal, #ma-modal {
        .modal-head {
            h1 {
                bottom: -20px;
                font-size: 5em;
                left:1.2rem;
                transform: translateX(0);
            }
        }
    }
    
    #anf-modal, #hstr-modal {
        .modal-head {
            h1 {
                bottom:-10px;
                font-size: 2.7em;
                left: 1.2rem;
                transform: translateX(0);
            }
        }
    }
}

/***** LARGE *****/
@include media-size(large) {
    .modal-content {
        .modal-body {
            .work-description {
                max-width: 400px;
            }
        }
    }
    
    #anf-modal, #hstr-modal {
        .modal-head {
            h1 {
                bottom:-13px;
                font-size: 3.5em;
                left: 1.2rem;
                transform: translateX(0);
            }
        }
    }
    
}

/***** X-SMALL ONLY *****/

@include media-size(x-small-only) {
    .modal-content {
        .modal-head {
            height: 100px;
        }
    }
}