/******* MAIN STYLE SHEET FOR PORTFOLIO ******/
@import "base/reset";
@import "base/variables";
@import "layout/grid";
@import "layout/layout";
@import "modules/mixins";
@import "partials/type";
@import "partials/_animations";
@import "modules/modals";

html {
    background-color: $white;
}

a {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

a:active {
    transform: scale(0.95);
}

/***** TOP NAVIGATION *****/


/***** WORK *****/
.work-item > div {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    h3 {
        color: $white;
    }
    
    div.description {
        background-color: $white;
        border-radius: 0 0 $border-radius $border-radius;
        p {
            color: $black;
        }
    }
}

.summit-racing {
    background-color: $sre;
}

.ams {
    background-color: $ams;
}

.abercrombie {
    background-color: $anf;
}

.healthy-strongsville {
    background-color: $hstr;
}

.tique {
    background-color: $tique;
}

.noted {
    background-color: $noted;
}