/******* MAIN STYLE SHEET FOR PORTFOLIO ******/
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Raleway:700&display=swap");
/* line 1, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* line 7, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
html {
  font-size: 16px; }

/* line 11, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
a {
  text-decoration: none;
  cursor: pointer; }

/* line 16, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer; }

/* line 24, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 30, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
li {
  text-decoration: none; }

/* line 34, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit; }

/* line 40, /Users/hannahdebenham/Code/Portfolio/code/styles/base/_reset.scss */
p {
  margin: 0; }

/***** VARIABLES *****/
/***** COLORS *****/
/***** 12 COLUMN GRID *****/
/* line 5, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.row:after {
  display: block;
  clear: both;
  content: ''; }

/* line 14, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.row + .row {
  margin-top: 3%; }

/* line 19, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
[class^="col-"] {
  float: left;
  margin-right: 3%; }
  /* line 23, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
  [class^="col-"]:last-child {
    margin-right: 0; }

/* line 28, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-1 {
  width: 5.58333%; }

/* line 32, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-2 {
  width: 14.16667%; }

/* line 36, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-3 {
  width: 22.75%; }

/* line 40, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-4 {
  width: 31.33333%; }

/* line 44, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-5 {
  width: 39.91667%; }

/* line 48, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-6 {
  width: 48.5%; }

/* line 52, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-7 {
  width: 57.08333%; }

/* line 56, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-8 {
  width: 65.66667%; }

/* line 60, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-9 {
  width: 74.25%; }

/* line 64, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-10 {
  width: 82.83333%; }

/* line 68, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-11 {
  width: 91.41667%; }

/* line 72, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_grid.scss */
.col-12 {
  width: 100%; }

/***** MEDIA QUERIES *****/
/***** BASIC LAYOUT STYLES *****/
/***** TOP NAVIGATION *****/
/* line 6, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
ul.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem; }
  /* line 11, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
  ul.nav-wrap ul {
    display: flex;
    justify-content: flex-end; }
    /* line 15, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
    ul.nav-wrap ul li {
      margin-left: 1.5rem; }

/***** INTRO *****/
/* line 22, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
.intro {
  padding-top: 50px;
  text-align: center; }
  /* line 26, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
  .intro svg, .intro img {
    max-width: 100px;
    margin-bottom: 20px; }
  /* line 31, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
  .intro p {
    max-width: 80%;
    margin: 20px auto; }
  @media (min-width: 992px) {
    /* line 37, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
    .intro p {
      max-width: 40%; } }

/***** WORK *****/
/* line 45, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
div.work-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.5rem; }
  /* line 51, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
  div.work-wrap .work-item {
    margin: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%; }
    /* line 59, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
    div.work-wrap .work-item div {
      width: 100%; }
    /* line 63, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
    div.work-wrap .work-item h3 {
      margin: 4em 0;
      text-align: center; }
    /* line 68, /Users/hannahdebenham/Code/Portfolio/code/styles/layout/_layout.scss */
    div.work-wrap .work-item div.description {
      padding: .5em;
      justify-self: flex-end; }

/***** MEDIA QUERIES *****/
/***** GOOGLE FONTS: ARIMO & RALEWAY
       RALEWAY FOR H1
       ARIMO FOR OTHER HEADERS AND BODY COPY
*****/
/* line 8, /Users/hannahdebenham/Code/Portfolio/code/styles/partials/_type.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

/* line 14, /Users/hannahdebenham/Code/Portfolio/code/styles/partials/_type.scss */
h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700; }

/* line 19, /Users/hannahdebenham/Code/Portfolio/code/styles/partials/_type.scss */
h3 {
  font-size: 1.2em; }

/* line 24, /Users/hannahdebenham/Code/Portfolio/code/styles/partials/_type.scss */
p, a {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: .8rem; }

/***** VARIABLES *****/
/***** COLORS *****/
/***** CSS ANIMATIONS *****/
/***** STYLESHEET FOR WORK MODALS *****/
/***** VARIABLES *****/
/***** COLORS *****/
/***** MEDIA QUERIES *****/
/* line 5, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
.work-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  background: #222222;
  background: rgba(32, 32, 32, 0.8); }

/* line 17, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
.modal-content {
  width: 90%;
  margin: 5% auto;
  background-color: #f9f9f9;
  border-radius: 2px; }
  /* line 23, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  .modal-content .modal-head {
    width: 100%;
    height: 200px;
    position: relative;
    padding: 1.2rem; }
    /* line 29, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
    .modal-content .modal-head h1 {
      position: absolute;
      color: #f9f9f9; }
  /* line 36, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  .modal-content .modal-body {
    padding: 1.2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse; }
    /* line 42, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
    .modal-content .modal-body .work-description {
      max-width: 100%;
      padding-right: 1.2rem;
      margin-top: 50px; }
      /* line 46, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
      .modal-content .modal-body .work-description h3 {
        color: #222222;
        padding-bottom: 5px;
        border-bottom: 3px solid #222222;
        margin-bottom: 20px; }
      /* line 52, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
      .modal-content .modal-body .work-description p {
        margin-bottom: 10px;
        font-size: .7rem;
        line-height: .9rem; }
      /* line 57, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
      .modal-content .modal-body .work-description p.footnote {
        font-size: .6rem; }
    /* line 63, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
    .modal-content .modal-body img {
      width: 100%; }

/* line 69, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
.close {
  color: #f9f9f9;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; }

/***** BACKGROUND COLORS *****/
/* line 79, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#sre-modal .modal-head {
  background-color: #2167bb; }

/* line 85, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#ams-modal .modal-head {
  background-color: #7eb946; }

/* line 91, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#anf-modal .modal-head {
  background-color: #253246; }

/* line 97, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#hstr-modal .modal-head {
  background-color: #437f1a; }

/* line 103, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#ccdp-modal .modal-head {
  background-color: #2378ba; }

/* line 109, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#ma-modal .modal-head {
  background-color: #80bb41; }

/* line 115, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#sre-modal, #ams-modal, #hstr-modal, #ma-modal, #ccdp-modal {
  display: none; }
  /* line 118, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #sre-modal h1, #ams-modal h1, #hstr-modal h1, #ma-modal h1, #ccdp-modal h1 {
    bottom: -11px;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; }

/* line 127, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
#hstr-modal, #anf-modal {
  display: none; }
  /* line 130, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #hstr-modal h1, #anf-modal h1 {
    bottom: -7px;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; }

/***** MEDIA QUERIES *****/
/***** MEDIUM *****/
@media (min-width: 768px) {
  /* line 144, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  .modal-content .modal-body {
    justify-content: space-around;
    align-content: center;
    flex-direction: row; }
    /* line 149, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
    .modal-content .modal-body .work-description {
      max-width: 300px; }
    /* line 153, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
    .modal-content .modal-body img {
      max-width: 50%;
      margin-top: -15%;
      z-index: 3; }
  /* line 164, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #ma-modal img, #hstr-modal img {
    margin-top: 0; }
  /* line 172, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #sre-modal .modal-head h1, #ams-modal .modal-head h1, #ccdp-modal .modal-head h1, #ma-modal .modal-head h1 {
    bottom: -20px;
    font-size: 5em;
    left: 1.2rem;
    transform: translateX(0); }
  /* line 183, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #anf-modal .modal-head h1, #hstr-modal .modal-head h1 {
    bottom: -10px;
    font-size: 2.7em;
    left: 1.2rem;
    transform: translateX(0); } }

/***** LARGE *****/
@media (min-width: 992px) {
  /* line 197, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  .modal-content .modal-body .work-description {
    max-width: 400px; }
  /* line 205, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  #anf-modal .modal-head h1, #hstr-modal .modal-head h1 {
    bottom: -13px;
    font-size: 3.5em;
    left: 1.2rem;
    transform: translateX(0); } }

/***** X-SMALL ONLY *****/
@media (max-width: 575.99px) {
  /* line 220, /Users/hannahdebenham/Code/Portfolio/code/styles/modules/_modals.scss */
  .modal-content .modal-head {
    height: 100px; } }

/* line 11, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
html {
  background-color: #f9f9f9; }

/* line 16, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
a {
  color: #444356; }

/* line 20, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
a:hover {
  color: #716f90; }

/***** TOP NAVIGATION *****/
/***** WORK *****/
/* line 28, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.work-item > div {
  border-radius: 2px;
  box-shadow: 0px 5px 12px -4px rgba(34, 34, 34, 0.47); }
  /* line 31, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
  .work-item > div h3 {
    color: #f9f9f9; }
  /* line 35, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
  .work-item > div div.description {
    background-color: #f9f9f9;
    border-radius: 0 0 2px 2px; }
    /* line 38, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
    .work-item > div div.description p {
      color: #222222; }

/* line 44, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.summit-racing {
  background-color: #2167bb; }

/* line 48, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.ams {
  background-color: #7eb946; }

/* line 52, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.abercrombie {
  background-color: #253246; }

/* line 56, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.healthy-strongsville {
  background-color: #437f1a; }

/* line 60, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.mike-albert {
  background-color: #80bb41; }

/* line 64, /Users/hannahdebenham/Code/Portfolio/code/styles/style.scss */
.ccdp {
  background-color: #2378ba; }

/*# sourceMappingURL=style.css.map */